.experience-container {
  font-family: 'Arial', 'Helvetica', sans-serif; 
  margin: 0 auto;
}

.experience-item {
  border: 1px solid #ccc; /* Light gray border */
  background-color: #f9f9f9; /* Very light gray background */
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.experience-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

.experience-header {
  padding: 10px 15px;
  background-color: #ffffff; /* White background */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.experience-header:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px; /* Reduced space between title and company details */
}

.job-title {
  font-size: 1.2rem;
  color: #333; /* Darker text color */
  margin: 0;
}

.company-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.company-name,
.job-period {
  font-size: 1rem;
  color: #666; /* Medium gray for company name and job period */
  font-weight: normal;
  margin: 0;
}

.job-period {
  text-align: right;
  flex-shrink: 0;
}

.details {
  padding: 10px 15px;
  background-color: #f7f7f7; /* Very light gray background for details */
  border-top: 1px solid #ddd; /* Subtle border */
}

.details-content p {
  margin: 3px 0; /* Reduced space between experience details */
  font-size: 0.9rem;
  color: #444; /* Darker color for details */
}